{% extends 'default_frame.twig' %}
{% block main %}
<section class="container cf m_20 padd_bt30 csr-box">
	<div class="row">
		<div class="col-12 col-md-4">
			<h3 class="brandPage-title text-center">フェアトレード</h3>
		</div>
		<div class="col-12 col-md-8 m_20">
			<p>南アフリカのフェアトレード・ワインを輸入・販売することにより、同国の労働者の安定雇用と労働・生活環境の改善、子供達の教育費支援など、経済的自立を応援しています。</p>
		</div>
	</div>
	<div class="row">
		<div class="col-12 col-md-6 m_20 container">
			<div class="row padd_bt20">
				<div class="col-3">
					<img src="{{ asset('/html/user_data/upload/img/p_csr1.gif') }}" alt="TransFair">
				</div>
				<div class="col-9">
					<p class="m_10 fs14">ドイツ発祥のフェアトレード認証団体「TransFair」のフェアトレード認証を受けているワイナリーです。<br>その基準はフェアトレード·インターナショナルの国際基準に準拠しています。</p>
				</div>
				<div class="col-12 text-center">
					<a href="{{ url('product_list') }}?category_id=7" class="m_10">
						<img src="{{ asset('/html/user_data/upload/img/logo/p_brand10.gif') }}" alt="ステレンラスト" width="120">
						<p>ステレンラスト</p>
					</a>
				</div>
			</div>
		</div>
		<div class="col-12 col-md-6 m_25 container">
			<div class="row padd_bt20">
				<div class="col-3">
					<img src="{{ asset('/html/user_data/upload/img/p_csr5.gif') }}" alt="TransFair">
				</div>
				<div class="col-9">
					<p class="m_10 fs14">「Fair for Life 社会とフェアトレードの認証プログラム」は、地域の状況に適応して、厳格な社会的、フェアトレードの基準を組み合わせて審査されます。認証システムは、食品および化粧品、織物や観光サービスのような非食料品の両方のために設計されています。</p>
				</div>
				<div class="col-12 text-center">
					<a href="{{ url('product_list') }}?category_id=45">
						<img src="{{ asset('/html/user_data/upload/img/logo/p_stellar1.gif') }}" alt="ステラー" width="120">
						<p>ステラー</p>
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="row ec-categoryRole m_40">
		<div class="col-12 col-md-4">
			<h3 class="brandPage-title text-center">教育支援</h3>
		</div>
		<div class="col-12 col-md-8 m_20">
			<p>社会貢献活動としてPEBBLES（ペブルス：南アフリカの子供の教育支援団体（NGO））の支援を行い、南アフリカの子供たちの明るい未来を全力で応援しております。</p>
		</div>
		<div class="col-12 m_20 container">
			<div class="row padd_bt20">
				<div class="col-3 col-md-2">
					<img src="{{ asset('/html/user_data/upload/img/p_csr8.gif') }}" alt="TransFair" width="100">
				</div>
				<div class="col-9 col-md-4">
					<p class="m_10 fs14">ペブルス・プロジェクト（PEBBLES PROJECT）<br>
						2004年に設立された教育系NPO（非営利団体）。<br>
						<a href="https://www.pebblesproject.org/">https://www.pebblesproject.org/</a>
					</p>
				</div>
			</div>
			<div class="row">
				<div class="col-12 col-md-6 text-center m_20">
					<a href="{{ url('product_list') }}?category_id=20">
						<img src="{{ asset('/html/user_data/upload/img/logo/p_brand19.gif') }}" alt="ハーテンバーグ" width="120">
						<p>ハーテンバーグ</p>
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="row m_40">
		<div class="col-12 col-md-4">
			<h3 class="brandPage-title text-center">自立支援</h3>
		</div>
		<div class="col-12 col-md-8 m_20">
			<p>弊社取扱いのライナカワイナリーでは、「貧困からの脱出や生活水準の向上に最も大切な援助は、個人が自分で自分の人生を選択することが出来るようになること」という考えのもと、労働者の生活環境の向上にも努力している。始めに、労働者に希望を聞いたところ、「自分自身の家を持ちたい、そして子供たちに教育を受けさせたい」という答えでした。<br>以下のサポートを実施しています。<br>・10年間働いている従業員には家を、子供がいたら大学の費用を負担している。<br>・定年退職者には年金も支給している。<br>この支援により大学を卒業した子供が現在テイスティングルームを管理しています。</p>
		</div>
		<div class="col-12 col-md-5 text-center m_20 container">
			<div class="row padd_bt20">
				<div class="col-6">
					<a href="{{ url('product_list') }}?category_id=42">
						<img src="{{ asset('/html/user_data/upload/img/logo/p_reyneke1.jpg') }}" alt="ライナカ" width="120">
						<p>ライナカ</p>
					</a>
				</div>
				<div class="col-6">
					<a href="{{ url('product_list') }}?category_id=9">
						<img src="{{ asset('/html/user_data/upload/img/logo/p_brand18.gif') }}" alt="ニュービギニングス" width="120">
						<p>ニュービギニングス</p>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}