{% extends 'default_frame.twig' %}
{% block main %}

<div id="goodsCatArea">
	<p>ケープワインが取り扱うワイナリーをご紹介します。</p>
	<div class="defFloatN listKanren m_15">
		<ul class="cf">
			<li class="">
				<a href="{{ url('product_list') }}?category_id=10" title="アタラクシア"><img src="{{ asset('/html/user_data/upload/img/logo/p_brand38.jpg') }}" alt="アタラクシア">
					<p class="m_5 tx_ctr">アタラクシア</p>
				</a>
				<p>「醸造家ではなく」自らを「農夫」と語る醸造家</p>
			</li>
			<li>
				<a href="{{ url('product_list') }}?category_id=11">
					<img src="{{ asset('/html/user_data/upload/img/logo/p_aristea1.png') }}" alt="アリステア">
					<p class="m_5 tx_ctr">アリステア</p>
				</a>
				<p>他社にない洗練されたワインをスローガンにに掲げる</p>
			</li>
			<li>
				<a href="{{ url('product_list') }}?category_id=12">
					<img src="{{ asset('/html/user_data/upload/img/logo/p_brand35.gif') }}" alt="ウォーター・クルーフ">
					<p class="m_5 tx_ctr">ウォーター・<span class="keep-all">クルーフ</span></p>
				</a>
				<p>環境循環型農業"Honest Wine" 「誠実なワイン」</p>
			</li>
			<li>
				<a href="{{ url('product_list') }}?category_id=13">
					<img src="{{ asset('/html/user_data/upload/img/logo/p_brand3.gif') }}" alt="ウォーターフォード">
					<p class="m_10">ウォーター<span class="keep-all">フォード</span></p>
				</a>
				<p>スタイリッシュでエレガントなワイン生産者</p>
			</li>
			<li>
				<a href="{{ url('product_list') }}?category_id=14">
					<img src="{{ asset('/html/user_data/upload/img/logo/p_vilafonte1.jpg') }}" alt="ヴィラフォンテ">
					<p class="m_10">ヴィラフォンテ</p>
				</a>
				<p>南ア＆米国のコラボが実現！プレミアムワイン生産者</p>
			</li>
			<li>
				<a href="{{ url('product_list') }}?category_id=26">
					<img src="{{ asset('/html/user_data/upload/img/logo/p_brand36.gif') }}" alt="カノンコップ">
					<p class="m_10">カノンコップ</p>
				</a>
				<p>世界を代表するステレンボッシュ屈指の赤ワインメーカー</p>
			</li>
			<li>
				<a href="{{ url('product_list') }}?category_id=15">
					<img src="{{ asset('/html/user_data/upload/img/logo/p_keermont1.gif') }}" alt="キアモント">
					<p class="m_10">キアモント</p>
				</a>
				<p>山々に囲まれたストイックな自然派ブティック・ワイナリー</p>
			</li>
			<li>
				<a href="{{ url('product_list') }}?category_id=16">
					<img src="{{ asset('/html/user_data/upload/img/logo/p_brand39.jpg') }}" alt="キャサリン マーシャル">
					<p class="m_10">キャサリン <span class="keep-all">マーシャル</span></p>
				</a>
				<p>卓越した技術でテロワールを表現する女性アーティスト</p>
			</li>
			<li><a href="{{ url('product_list') }}?category_id=17">
					<img src="{{ asset('/html/user_data/upload/img/logo/p_brand7.jpg') }}" alt="グレネリー">
					<p class="m_10">グレネリー</p>
				</a>
				<p>元ボルドー2級生産者が南アフリカで手がけたワイナリー</p>
			</li>
			<li>
				<a href="{{ url('product_list') }}?category_id=18">
					<img src="{{ asset('/html/user_data/upload/img/logo/p_brand8.gif') }}" alt="クローヌ">
					<p class="m_10">クローヌ</p>
				</a>
				<p>南アフリカ屈指のスパークリングワイン生産者</p>
			</li>
			<li>
				<a href="{{ url('product_list') }}?category_id=19">
					<img src="{{ asset('/html/user_data/upload/img/logo/p_constantiaglen1.jpg') }}" alt="コンスタンシア グレン">
					<p class="m_10">コンスタンシア <span class="keep-all">グレン</span></p>
				</a>
				<p>南アフリカワイン発祥の地コンスタンシア</p>
			</li>
			<li>
				<a href="{{ url('product_list') }}?category_id=45">
					<img src="{{ asset('/html/user_data/upload/img/logo/p_stellar1.gif') }}" alt="ステラー">
					<p class="m_10">ステラー</p>
				</a>
				<p>妥協なきオーガニックワイン生産者</p>
			</li>
			<li>
				<a href="{{ url('product_list') }}?category_id=7">
					<img src="{{ asset('/html/user_data/upload/img/logo/p_brand10.gif') }}" alt="ステレンラスト">
					<p class="m_10">ステレンラスト</p>
				</a>
				<p>2012年ロンドン五輪に採用されたワイナリー</p>
			</li>
			<li>
				<a href="{{ url('product_list') }}?category_id=8">
					<img src="{{ asset('/html/user_data/upload/img/logo/p_brand37.gif') }}" alt="デイビット＆ナディア">
					<p class="m_10">デイビット＆<span class="keep-all">ナディア</span></p>
				</a>
				<p>今後も益々目が離せない自然派生産者</p>
			</li>
			<li>
				<a href="{{ url('product_list') }}?category_id=44">
					<img src="{{ asset('/html/user_data/upload/img/logo/p_namaqua1.gif') }}" alt="ナマクワ">
					<p class="m_10">ナマクワ</p>
				</a>
				<p>ハイコスパのBOXワイン生産者</p>
			</li>
			<li>
				<a href="{{ url('product_list') }}?category_id=9">
					<img src="{{ asset('/html/user_data/upload/img/logo/p_brand18.gif') }}" alt="ニュービギニングス">
					<p class="m_10">ニュー<span class="keep-all">ビギニングス</span></p>
				</a>
				<p>「新しい始まり」という名のワイン</p>
			</li>
			<li>
				<a href="{{ url('product_list') }}?category_id=20">
					<img src="{{ asset('/html/user_data/upload/img/logo/p_brand19.gif') }}" alt="ハーテンバーグ">
					<p class="m_10">ハーテンバーグ</p>
				</a>
				<p>老舗のプレミアム・ワインのオーガニック生産者</p>
			</li>
			<li>
				<a href="{{ url('product_list') }}?category_id=21">
					<img src="{{ asset('/html/user_data/upload/img/logo/p_brand22.gif') }}" alt="ブーケンハーツクルーフ">
					<p class="m_10">ブーケンハーツ<span class="keep-all">クルーフ</span></p>
				</a>
				<p>テーブルワインからプレミアムワインまで、世界が認める生産者</p>
			</li>
			<li>
				<a href="{{ url('product_list') }}?category_id=43">
					<img src="{{ asset('/html/user_data/upload/img/logo/p_bellingham1.gif') }}" alt="ベリンガム">
					<p class="m_10">ベリンガム</p>
				</a>
				<p>300年以上の歴史を持つワイナリー</p>
			</li>
			<li>
				<a href="{{ url('product_list') }}?category_id=22">
					<img src="{{ asset('/html/user_data/upload/img/logo/p_brand25.gif') }}" alt="ポールクルーバー">
					<p class="m_10">ポール<span class="keep-all">クルーバー</span></p>
				</a>
				<p>冷涼地区エルギンのパイオニア</p>
			</li>
			<li>
				<a href="{{ url('product_list') }}?category_id=42">
					<img src="{{ asset('/html/user_data/upload/img/logo/p_reyneke1.jpg') }}" alt="ライナカ">
					<p class="m_10">ライナカ</p>
				</a>
				<p>南アで最初にビオディナミ認証取得したワイナリー</p>
			</li>
			<li>
				<a href="{{ url('product_list') }}?category_id=46">
					<img src="{{ asset('/html/user_data/upload/img/logo/p_rascallion1.jpg') }}" alt="ラスカリオン">
					<p class="m_10">ラスカリオン</p>
				</a>
				<p>This is not Wine,This is RASCALLION</p>
			</li>
			<li>
				<a href="{{ url('product_list') }}?category_id=23">
					<img src="{{ asset('/html/user_data/upload/img/logo/p_brand29.gif') }}" alt="ラステンバーグ">
					<p class="m_10">ラステンバーグ</p>
				</a>
				<p>南アフリカの超名門。冷涼地区のエレガントワイン</p>
			</li>
			<li>
				<a href="{{ url('product_list') }}?category_id=24">
					<img src="{{ asset('/html/user_data/upload/img/logo/p_brand30.gif') }}" alt="ラーツ">
					<p class="m_10">ラーツ</p>
				</a>
				<p>シュナンとフランに特化したワイナリー</p>
			</li>
			<li>
				<a href="{{ url('product_list') }}?category_id=25">
					<img src="{{ asset('/html/user_data/upload/img/logo/p_longridge1.jpg') }}" alt="ロングリッジ">
					<p class="m_10">ロングリッジ</p>
				</a>
				<p>オーガニック＆ビオディナミ生産者</p>
			</li>

		</ul>
	</div>
</div>


{% endblock %}