{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}

<div class="ec-categoryRole">
	<div class="ec-role">
		<div class="ec-secHeading">
			<span class="ec-secHeading__en">{{ 'WINERY'|trans }}</span>
			<span class="ec-secHeading__line"></span>
			<span class="ec-secHeading__ja">{{ '取り扱いワイナリー'|trans }}</span>
		</div>
		<div class="ec-categoryRole__box">
			<div class="ec-categoryRole__title"><span>Red wine</span></div>
			<div class="ec-categoryRole__list">
				<div class="ec-categoryRole__listItem">
					<a href="{{ url('product_list') }}?category_id=13">
						<img src="{{ asset('/html/user_data/upload/img/logo/p_brand3.gif') }}" alt="ウォーターフォード">
						<p class="m_10">ウォーター<span class="keep-all">フォード</span></p>
					</a>
				</div>
				<div class="ec-categoryRole__listItem">
					<a href="{{ url('product_list') }}?category_id=14">
						<img src="{{ asset('/html/user_data/upload/img/logo/p_vilafonte1.jpg') }}" alt="ヴィラフォンテ">
						<p class="m_10">ヴィラフォンテ</p>
					</a>
				</div>
				<div class="ec-categoryRole__listItem">
					<a href="{{ url('product_list') }}?category_id=26">
						<img src="{{ asset('/html/user_data/upload/img/logo/p_brand36.gif') }}" alt="カノンコップ">
						<p class="m_10">カノンコップ</p>
					</a>
				</div>
				<div class="ec-categoryRole__listItem">
					<a href="{{ url('product_list') }}?category_id=15">
						<img src="{{ asset('/html/user_data/upload/img/logo/p_keermont1.gif') }}" alt="キアモント">
						<p class="m_10">キアモント</p>
					</a>
				</div>
				<div class="ec-categoryRole__listItem">
					<a href="{{ url('product_list') }}?category_id=20">
						<img src="{{ asset('/html/user_data/upload/img/logo/p_brand19.gif') }}" alt="ハーテンバーグ">
						<p class="m_10">ハーテンバーグ</p>
					</a>
				</div>
			</div>
		</div>
		<div class="ec-categoryRole__box">
			<div class="ec-categoryRole__title"><span>White wine</span></div>
			<div class="ec-categoryRole__list">
				<div class="ec-categoryRole__listItem">
					<a href="{{ url('product_list') }}?category_id=7">
						<img src="{{ asset('/html/user_data/upload/img/logo/p_brand10.gif') }}" alt="ステレンラスト">
						<p class="m_10">ステレンラスト</p>
					</a>
				</div>
				<div class="ec-categoryRole__listItem">
					<a href="{{ url('product_list') }}?category_id=8">
						<img src="{{ asset('/html/user_data/upload/img/logo/p_brand37.gif') }}" alt="デイビット＆ナディア">
						<p class="m_10">デイビット＆<span class="keep-all">ナディア</span></p>
					</a>
				</div>
				<div class="ec-categoryRole__listItem">
					<a href="{{ url('product_list') }}?category_id=22">
						<img src="{{ asset('/html/user_data/upload/img/logo/p_brand25.gif') }}" alt="ポールクルーバー">
						<p class="m_10">ポール<span class="keep-all">クルーバー</span></p>
					</a>
				</div>
			</div>
		</div>
		<div class="ec-categoryRole__box">
			<div class="ec-categoryRole__title ec-categoryRole__title-top"><span>Red & White wine</span></div>
			<div class="ec-categoryRole__list">
				<div class="ec-categoryRole__listItem">
					<a href="{{ url('product_list') }}?category_id=10">
						<img src="{{ asset('/html/user_data/upload/img/logo/p_brand38.jpg') }}" alt="アタラクシア">
						<p class="m_10">アタラクシア</p>
					</a>
				</div>
				<div class="ec-categoryRole__listItem">
					<a href="{{ url('product_list') }}?category_id=12">
						<img src="{{ asset('/html/user_data/upload/img/logo/p_brand35.gif') }}" alt="ウォーター・クルーフ">
						<p class="m_10">ウォーター・<span class="keep-all">クルーフ</span></p>
					</a>
				</div>
				<div class="ec-categoryRole__listItem">
					<a href="{{ url('product_list') }}?category_id=16">
						<img src="{{ asset('/html/user_data/upload/img/logo/p_brand39.jpg') }}" alt="キャサリン マーシャル">
						<p class="m_10">キャサリン <span class="keep-all">マーシャル</span></p>
					</a>
				</div>
				<div class="ec-categoryRole__listItem">
					<a href="{{ url('product_list') }}?category_id=19">
						<img src="{{ asset('/html/user_data/upload/img/logo/p_constantiaglen1.jpg') }}" alt="コンスタンシア グレン">
						<p class="m_10">コンスタンシア <span class="keep-all">グレン</span></p>
					</a>
				</div>
				<div class="ec-categoryRole__listItem">
					<a href="{{ url('product_list') }}?category_id=45">
						<img src="{{ asset('/html/user_data/upload/img/logo/p_stellar1.gif') }}" alt="ステラー">
						<p class="m_10">ステラー</p>
					</a>
				</div>
				<div class="ec-categoryRole__listItem">
					<a href="{{ url('product_list') }}?category_id=44">
						<img src="{{ asset('/html/user_data/upload/img/logo/p_namaqua1.gif') }}" alt="ナマクワ">
						<p class="m_10">ナマクワ</p>
					</a>
				</div>
				<div class="ec-categoryRole__listItem">
					<a href="{{ url('product_list') }}?category_id=9">
						<img src="{{ asset('/html/user_data/upload/img/logo/p_brand18.gif') }}" alt="ニュービギニングス">
						<p class="m_10">ニュー<span class="keep-all">ビギニングス</span></p>
					</a>
				</div>
				<div class="ec-categoryRole__listItem">
					<a href="{{ url('product_list') }}?category_id=21">
						<img src="{{ asset('/html/user_data/upload/img/logo/p_brand22.gif') }}" alt="ブーケンハーツクルーフ">
						<p class="m_10">ブーケンハーツ<span class="keep-all">クルーフ</span></p>
					</a>
				</div>
				<div class="ec-categoryRole__listItem">
					<a href="{{ url('product_list') }}?category_id=43">
						<img src="{{ asset('/html/user_data/upload/img/logo/p_bellingham1.gif') }}" alt="ベリンガム">
						<p class="m_10">ベリンガム</p>
					</a>
				</div>
				<div class="ec-categoryRole__listItem">
					<a href="{{ url('product_list') }}?category_id=42">
						<img src="{{ asset('/html/user_data/upload/img/logo/p_reyneke1.jpg') }}" alt="ライナカ">
						<p class="m_10">ライナカ</p>
					</a>
				</div>
				<div class="ec-categoryRole__listItem">
					<a href="{{ url('product_list') }}?category_id=46">
						<img src="{{ asset('/html/user_data/upload/img/logo/p_rascallion1.jpg') }}" alt="ラスカリオン">
						<p class="m_10">ラスカリオン</p>
					</a>
				</div>
				<div class="ec-categoryRole__listItem">
					<a href="{{ url('product_list') }}?category_id=23">
						<img src="{{ asset('/html/user_data/upload/img/logo/p_brand29.gif') }}" alt="ラステンバーグ">
						<p class="m_10">ラステンバーグ</p>
					</a>
				</div>
				<div class="ec-categoryRole__listItem">
					<a href="{{ url('product_list') }}?category_id=24">
						<img src="{{ asset('/html/user_data/upload/img/logo/p_brand30.gif') }}" alt="ラーツ">
						<p class="m_10">ラーツ</p>
					</a>
				</div>
				<div class="ec-categoryRole__listItem">
					<a href="{{ url('product_list') }}?category_id=25">
						<img src="{{ asset('/html/user_data/upload/img/logo/p_longridge1.jpg') }}" alt="ロングリッジ">
						<p class="m_10">ロングリッジ</p>
					</a>
				</div>
			</div>
		</div>
		<div class="ec-categoryRole__box">
			<div class="ec-categoryRole__title"><span>Rose wine</span></div>
			<div class="ec-categoryRole__list">
				<div class="ec-categoryRole__listItem">
					<a href="{{ url('product_list') }}?category_id=21">
						<img src="{{ asset('/html/user_data/upload/img/logo/p_brand22.gif') }}" alt="ブーケンハーツクルーフ">
						<p class="m_10">ブーケンハーツ<span class="keep-all">クルーフ</span></p>
					</a>
				</div>
				<div class="ec-categoryRole__listItem">
					<a href="{{ url('product_list') }}?category_id=17">
						<img src="{{ asset('/html/user_data/upload/img/logo/p_brand7.jpg') }}" alt="グレネリー">
						<p class="m_10">グレネリー</p>
					</a>
				</div>
			</div>
		</div>
		<div class="ec-categoryRole__box">
			<div class="ec-categoryRole__title"><span>Sparkling wine</span></div>
			<div class="ec-categoryRole__list">
				<div class="ec-categoryRole__listItem">
					<a href="{{ url('product_list') }}?category_id=11">
						<img src="{{ asset('/html/user_data/upload/img/logo/p_aristea1.png') }}" alt="アリステア">
						<p class="m_10">アリステア</p>
					</a>
				</div>
				<div class="ec-categoryRole__listItem">
					<a href="{{ url('product_list') }}?category_id=18">
						<img src="{{ asset('/html/user_data/upload/img/logo/p_brand8.gif') }}" alt="クローヌ">
						<p class="m_10">クローヌ</p>
					</a>
				</div>
				<div class="ec-categoryRole__listItem">
					<a href="{{ url('product_list') }}?category_id=7">
						<img src="{{ asset('/html/user_data/upload/img/logo/p_brand10.gif') }}" alt="ステレンラスト">
						<p class="m_10">ステレンラスト</p>
					</a>
				</div>
			</div>
		</div>
		<div class="ec-categoryRole__box">
			<div class="ec-categoryRole__title"><span>Dessert wine</span></div>
			<div class="ec-categoryRole__list">
				<div class="ec-categoryRole__listItem">
					<a href="{{ url('product_list') }}?category_id=15">
						<img src="{{ asset('/html/user_data/upload/img/logo/p_keermont1.gif') }}" alt="キアモント">
						<p class="m_10">キアモント</p>
					</a>
				</div>
				<div class="ec-categoryRole__listItem">
					<a href="{{ url('product_list') }}?category_id=45">
						<img src="{{ asset('/html/user_data/upload/img/logo/p_stellar1.gif') }}" alt="ステラー">
						<p class="m_10">ステラー</p>
					</a>
				</div>
			</div>
		</div>
		<div class="ec-categoryRole__box">
			<div class="ec-categoryRole__title"><span>Organic wine</span></div>
			<div class="ec-categoryRole__list">
				<div class="ec-categoryRole__listItem">
					<a href="{{ url('product_list') }}?category_id=17">
						<img src="{{ asset('/html/user_data/upload/img/logo/p_brand7.jpg') }}" alt="グレネリー">
						<p class="m_10">グレネリー</p>
					</a>
				</div>
				<div class="ec-categoryRole__listItem">
					<a href="{{ url('product_list') }}?category_id=45">
						<img src="{{ asset('/html/user_data/upload/img/logo/p_stellar1.gif') }}" alt="ステラー">
						<p class="m_10">ステラー</p>
					</a>
				</div>
				<div class="ec-categoryRole__listItem">
					<a href="{{ url('product_list') }}?category_id=20">
						<img src="{{ asset('/html/user_data/upload/img/logo/p_brand19.gif') }}" alt="ハーテンバーグ">
						<p class="m_10">ハーテンバーグ</p>
					</a>
				</div>
				<div class="ec-categoryRole__listItem">
					<a href="{{ url('product_list') }}?category_id=42">
						<img src="{{ asset('/html/user_data/upload/img/logo/p_reyneke1.jpg') }}" alt="ライナカ">
						<p class="m_10">ライナカ</p>
					</a>
				</div>
				<div class="ec-categoryRole__listItem">
					<a href="{{ url('product_list') }}?category_id=25">
						<img src="{{ asset('/html/user_data/upload/img/logo/p_longridge1.jpg') }}" alt="ロングリッジ">
						<p class="m_10">ロングリッジ</p>
					</a>
				</div>
			</div>
		</div>
		<div class="ec-categoryRole__box">
			<div class="ec-categoryRole__title"><span>オシャレなラベル</span></div>
			<div class="ec-categoryRole__list">
				<div class="ec-categoryRole__listItem">
					<a href="{{ url('product_list') }}?category_id=10">
						<img src="{{ asset('/html/user_data/upload/img/logo/p_brand38.jpg') }}" alt="アタラクシア">
						<p class="m_10">アタラクシア</p>
					</a>
				</div>
				<div class="ec-categoryRole__listItem">
					<a href="{{ url('product_list') }}?category_id=16">
						<img src="{{ asset('/html/user_data/upload/img/logo/p_brand39.jpg') }}" alt="キャサリン マーシャル">
						<p class="m_10">キャサリン <span class="keep-all">マーシャル</span></p>
					</a>
				</div>
				<div class="ec-categoryRole__listItem">
					<a href="{{ url('product_list') }}?category_id=11">
						<img src="{{ asset('/html/user_data/upload/img/logo/p_aristea1.png') }}" alt="アリステア">
						<p class="m_10">アリステア</p>
					</a>
				</div>
				<div class="ec-categoryRole__listItem">
					<a href="{{ url('product_list') }}?category_id=21">
						<img src="{{ asset('/html/user_data/upload/img/logo/p_brand22.gif') }}" alt="ブーケンハーツクルーフ">
						<p class="m_10">ブーケンハーツ<span class="keep-all">クルーフ</span></p>
					</a>
				</div>
				<div class="ec-categoryRole__listItem">
					<a href="{{ url('product_list') }}?category_id=46">
						<img src="{{ asset('/html/user_data/upload/img/logo/p_rascallion1.jpg') }}" alt="ラスカリオン">
						<p class="m_10">ラスカリオン</p>
					</a>
				</div>
			</div>
		</div>
		<div class="ec-categoryRole__box m_25">
			<div class="ec-categoryRole__title"><span>社会貢献</span></div>
			<div class="p20">
				<p>フェアトレード認証を受けているなど<br>
					ワインを通して同国への経済的な支援を行っているワイナリーは<br><a href="https://s-africa.wine/user_data/csr" class="underline">こちらからご覧ください。</a></p>
			</div>
		</div>
	</div>
</div>