<section class="container cf m_20">
    <div class="row">
        {% if Product.ProductCategories is not empty %}
        {% for ProductCategory in Product.ProductCategories %}
        {% set Cat = ProductCategory.Category %}
        {% if Cat.Parent.id == 62 %}
        {% for Category in ProductCategory.Category.path %}
        {% if Category.id != 62 %}
        <div class="col-8 offset-2 col-md-3 offset-md-0">
            <img src="{{ asset('/html/user_data/upload/img/logo/p_brand30.gif') }}" alt="{{ Category.name }}" style="width: 100%;">
        </div>
        <div class="col-12 col-md-9">
            <h3 class="ltx_15 tx_bld">
                <a href="{{ url('product_list') }}?category_id={{ Category.id }}" title="{{ Category.name }}">{{ Category.name }}</a>
            </h3>
            <h3 class="ltx_15 tx_bld">
シュナンブランとカベルネフランに特化したワイナリー</h3>
            <p class="m_5">2000年創立のまだ新しいワイナリーですが、特に伝統的品種のシュナン・ブランを国際マーケットにおいて認められるよう努力したことへの評価は高く、南アフリカ白品種の「フラッグシップ」としてのシュナン・ブランの位置付けを明確にしました。<br>
この品種に特化し評価を高める努力をしているワイナリーは少なく、『デキャンタ』『ワインスペクテイター』『ワインアドヴォケート』『ニューヨークタイムズ』などの出版物に取り上げられ、ジャンシス・ロビンソンからも賞賛を受けています。</p>
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}
        {% endfor %}
        {% endif %}
    </div>
</section><!-- / .goodsBrandArea cf m_20 -->