<section class="container cf m_20">
    <div class="row">
        {% if Product.ProductCategories is not empty %}
        {% for ProductCategory in Product.ProductCategories %}
        {% set Cat = ProductCategory.Category %}
        {% if Cat.Parent.id == 62 %}
        {% for Category in ProductCategory.Category.path %}
        {% if Category.id != 62 %}
        <div class="col-8 offset-2 col-md-3 offset-md-0">
            <img src="{{ asset('/html/user_data/upload/img/logo/p_rascallion1.jpg') }}" alt="{{ Category.name }}" style="width: 100%;">
        </div>
        <div class="col-12 col-md-9">
            <h3 class="ltx_15 tx_bld">
                <a href="{{ url('product_list') }}?category_id={{ Category.id }}" title="{{ Category.name }}">{{ Category.name }}</a>
            </h3>
            <h3 class="ltx_15 tx_bld">
"This is not Wine, This is RASCALLION"<small>（「これはワインではなく、ラスカリオンです」）</small></h3>
            <p class="m_5">「南アフリカは、単一品種よりブレンド・ワインの方が価値が高い」という考えの下、南アフリカの様々な地区（ステレンボシュ、スワートランド、ピーケニアスクルーフ、ロバートソンなど）のワインを購入してブレンドしているネゴシアン。文字やラベルも特徴的。リーズナブルで高品質のワインを生産。</p>
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}
        {% endfor %}
        {% endif %}
    </div>
</section><!-- / .goodsBrandArea cf m_20 -->